@font-face {
   font-family: 'Ahsing-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Gloth/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-10-21_155809/fonts/Ahsing-Regular/font.ttf');
}
